.calendar-input {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 3px 8px;
  color: #fff;
  background: transparent;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 5px;
}
