.modal{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 100;

  &__content{
    transform: scale(0.5);
    transition: 0.4s all;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 20px 35px 40px;
    background: #e7eef4;
    border-radius: 10px;
    &.active{
      transform: scale(1);
    }
  }
  &.active{
    opacity: 1;
    pointer-events: all;
  }
  &__head{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    span{
      cursor: pointer;
      font-size: 24px;
      font-weight: 700;
      display: inline-block;
      padding: 15px 15px 0 15px;
    }
  }
}

@media (max-width: 1111px) {
  .modal__content{
    height: 75vh;
  }
}
@media (max-width: 854px) {
  .modal__content{
    height: 60vh;
  }
}
@media (max-width: 675px) {
  .modal__content{
    height: auto;
  }
}
