
.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #fff;
  top: 0;
  display: flex;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 10px 1px #ccc;
  &__container {
    padding: 0 15px;
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__top {
    display: flex;
    list-style: none;
    gap: 5px;
  }
  &__item-top {
    font-size: 18px;
    color: #060d44;
    cursor: pointer;
    padding: 5px 25px;
    position: relative;
    &:hover &__sub{
      display: block;
    }
    &__sub{
      position: absolute;
      display: none;
      background: #fff;
      color: #051f7c;
      list-style: none;
      border-radius: 0 0 7px 7px;
      padding: 5px;
      width: 18rem;
      line-height: 160%;
      top: 40px;
      left: 19px;
      li{
        padding: 5px;
        &:hover{
          transition: all 0.3s ease;
          box-shadow: 1px 0px 5px 1px #fff;
        }
      }
    }
    &_active {
      background: #051f7c;
      border-radius: 10px;
      color: white;
    }
  }
  &__date-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10px;
    gap: 2.2rem;
  }
  &__item{
    color: #666666;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    position: relative;
    span {
      font-size: 15px;
      padding: 8px;
      background: #f2f2f2;
      border-radius: 10px;
      font-family: Arial;
      cursor: pointer;
      display: block;
      color: #000;
      font-weight: 600;
      margin-left: 5px;
    }
  }
  &__calendar {
    position: absolute;
    top: 28px;
    left: 0;
    z-index: 100;
  }
}
.modal-body{
   margin: 0 auto;

  &__text{
    font-size: 18px;
    line-height: 145%;
    font-family: monospace;
  }
}