.player {
  //position: absolute;
  //z-index: 999;
  //bottom: 0;
  //width: 95%;
  position: absolute;
  z-index: 999;
  margin: 0 215px 0 45px;
  bottom: 0;
  width: -webkit-fill-available;

  @media (max-width: 684px) {
    position: absolute;
    z-index: 999;
    margin: 0 48px 20px 45px;
    bottom: 0;
    width: -webkit-fill-available;
  }
  &__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 60px 10px 36px;
    border-radius: 50px;
    background: #ffffffe8;
    @media (max-width: 684px) {
      flex-direction: column;
      padding: 10px;
      border-radius: 5px;
    }
  }
  &__control {
    display: flex;
    justify-content: center;
    flex: 0 1 20%;
  }
  &__strip {
    position: relative;
    flex: 0 1 80%;
    width: 100%;
  }
  &__item {
    width: 37px;
  }
  &__button {
    font-size: 31px;
    outline: none;
    background: transparent;
    color: #003058;
    cursor: pointer;
    border: none;
    &:disabled {
      color: darkgrey;
      cursor: auto;
    }
    @media (max-width: 684px) {
     font-size: 14px;
    }
    margin-right: 20px;
  }
}
//.progress{
//  cursor: pointer;
//  accent-color: #0c0f28;
//  width: 100%;
//}
.progress {
  width: 100%;
  height: 15px;
  -webkit-appearance: none;
  background: #c2c2c2;
  outline: none;
  border-radius: 0;
  overflow: hidden;
  cursor: pointer;
  @media (max-width: 684px) {
    height: 6px;
  }
}
.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -1200px 0 0 1200px #0c0f28;
  @media (max-width: 684px) {
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
}

.hint {
  position: absolute;
  white-space: nowrap;
  p {
    position: relative;
    left: -50%;
    top: -40px;
    font-weight: bold;
    @media (max-width: 684px) {
      display: none;
    }
  }
  &__line {
    //height: 4.5px;
    height: 14px;
    width: 2px;
   // margin-top: -42px;
    margin-top: -19px;
    background: #5357b7;
    @media (max-width: 684px) {
      height: 6px;
      margin-top: -11px;
    }
  }
}
