.player{
  width: 100%;
  &__container{
    box-shadow: 5px 5px 15px 5px #000000;
    padding: 20px 27px;
  }
  &__control{
    display: flex;
    justify-content: space-evenly;
  }
  &__item{
    width: 37px;
  }
  &__button{
    font-size: 31px;
    outline: none;
    background: transparent;
    color: #003058;
    cursor: pointer;
    border: none;
    &:disabled{
      color: darkgrey;
      cursor: auto;
    }
  }
}
.progress{
  cursor: pointer;
  accent-color: #0c0f28;
  width: 100%;
}


.hint{
  position: absolute;

  &__line{
    height: 17px;
    width: 6px;
    margin: -50% 0;
    background: #333e33;
  }
}