* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sr-only {
  display: none;
}

.App {
  position: relative;
  overflow: hidden;

  &__main {
    display: flex;
    height: 100vh;
  }
}

.leaflet-container {
  height: 100%;
}

.leaflet-draw-actions a {
  background-color: #fff;
}

.leaflet-draw-actions {
  padding-right: 2px;
}

.map {
  flex: 0 0 80%;
  height: calc(100% - 50px);
  top: 50px;
  @media (max-width: 874px) {
    flex: 0 0 100%;
  }
}

.leaflet-touch .leaflet-control-layers-toggle {
  width: 30px;
  height: 31px;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-size: 20px 20px;
}

.leaflet-touch .leaflet-bar {
  border: none;
}
